<?xml version="1.0" encoding="UTF-8" ?>
<taglib version="2.1"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee/web-jsptaglibrary_2_1.xsd">
	
	<tlib-version>1.0</tlib-version>
	<short-name>ctg</short-name>
	<uri>customtags</uri>
	
	<tag>
		<name>time</name>
		<tag-class>by.epam.booking.usertag.TimeTag</tag-class>
		<body-content>empty</body-content>
	</tag>
	
	<tag>
		<name>error-table</name>
		<tag-class>by.epam.booking.usertag.ErrorInformationTableTag</tag-class>
		<body-content>scriptless</body-content>
		
		<attribute>
			<name>headers</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		
		<attribute>
			<name>parameters</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		
		<attribute>
			<name>size</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>

</taglib>