<form action="Controller" method="post">
	<input type="hidden" name="command" value="search_page" />
	<input type="hidden" name="future-command" value="confirm_status_booking" />
	<input type="submit" value="${button_name_confirm_status_booking}" />
</form>
<form action="Controller" method="post">
	<input type="hidden" name="command" value="search_page" />
	<input type="hidden" name="future-command" value="close_status_booking" />
	<input type="submit" value="${button_name_close_status_booking}" />
</form>
<form action="Controller" method="post">
	<input type="hidden" name="command" value="search_page" />
	<input type="hidden" name="future-command" value="view_all_bookings_of_client" />
	<input type="submit" value="${button_view_all_bookings_of_client}" />
</form>
<form action="Controller" method="post">
	<input type="hidden" name="command" value="view_all_unconfirmed_bookings" />
	<input type="submit" value="${button_view_all_unconfirmed_bookings}" />
</form>
<form action="Controller" method="post">
	<input type="hidden" name="command" value="search_page" />
	<input type="hidden" name="future-command" value="create_bill" />
	<input type="submit" value="${button_create_bill}" />
</form>