table, th, td {
	border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
}

table#localization {
	border: hidden;
    border-collapse: collapse;
    float:right;
}
td#localization {
	padding: 0px;
    text-align: left;
    border: 0px;
}

table#navigation {
	border: hidden;
    border-collapse: collapse;
    margin-left: 317px;
}
td#navigation {
	padding: 0px;
    text-align: left;
    border: 0px;
}

#time {
	float: right;
}

#header {
	background-color: DarkCyan;
    width: 1200px;
    height: 55px;
    color: white;
    text-align: right;
    float: center;
    padding: 5px;
}
#nav {
    line-height: 20px;
    background-color: #eeeeee;
    height: 970px;
    width: 300px;
    float: left;
    padding: 5px;    
    margin: 10px;	      
}
#section {
    width: 1200px;
    float: center;
    padding: 5px;
}
#footer {
    background-color: DarkCyan ;
    width: 1200px;
    color: white;
    clear: both;
    text-align: center;
    float: center;
   	padding: 5px;	 	 
}
#error-message {
	color: red;
}
